<script src="/assets/javascript/script.js"></script>
<script src="/assets/javascript/nav.js"></script>
<script src="/assets/javascript/swiper.js"></script>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>