<section class="auth">
    <div class="auth__validation" action="/action_page.php" method="post">
        <input class="form__user" type="text" name="fname" placeholder="Username" required>
        <input class="form__pass" type="password" name="pass" placeholder="Password" required>
        <input class="form__button" type="submit" value="Submit">
    </div> 
</section>