:root {
    // Navigation
    --nav_background_color: blue;
    --nav_font_family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --nav_font_size: 17px;
    --nav_font_color: white;
    --nav_fontActive_size: white;

    // Validation
    --validation_fontFamily: ;
}