.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth__validation {
    font-family: var(--validation_fontFamily);
}

.auth__form {
    
}

.form__user {

}

.form__pass {

}

.form__button {

}
