.carousel {
  height: 500px;
  width: 90vw;
  margin: auto;
  margin-bottom: 35px;
}
.carousel-cell {
  height: 100%;
  width: 50%;
  max-width: 50vw;
  object-fit: cover;
}

.carousel-cell img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}



.flickity-lazyloaded:hover {
  transition: all 200ms;
}